<script id="{{ id ~ '_download_template' }}" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
{% endverbatim %}

{% set editables = {} %}
{% for field in editable %}
    {% set editables = editables|merge({ (field): form_row(prototype[field],{'value': '__value__'}) }) %}
{% endfor %}

    <tr class="template-download fade">
        {% verbatim %}
        {% if (file.error) { %}
        {% endverbatim %}
            {% if sortable %}
            <td class="sort"><icon class="handle fa fa-sort fa-2x"></i></td>
            {% endif %}
            <td></td>
            <td class="name"><span>{% verbatim %}{%=file.name%}{% endverbatim %}</span></td>
            <td class="size"><span>{% verbatim %}{%=o.formatFileSize(file.size)%}{% endverbatim %}</span></td>
            <td class="error" colspan="2">
                <span class="label label-important">
                {{- 's2a_upload_collection.error'|trans({}, 'AdmingeneratorFormExtensions') -}}
                </span> {% verbatim %}{%=file.error%}{% endverbatim %}
            </td>
        {% verbatim %}
        {% } else { %}
        {% endverbatim %}
            {% if sortable %}
            <td class="sort"><icon class="handle fa fa-sort fa-2x"></i></td>
            {% endif %}
            {% verbatim %}
            {% if (file.uid) { %}
            {% endverbatim %}
                <td class="preview">
                </td>
                <td class="form">
                    <input type="hidden" name="{{ full_name }}" value="{% verbatim %}{%=file.uid%}{% endverbatim %}" />
                    <input type="checkbox" name="{{ original_full_name ~ '[delete_uploads][]'}}" value="{% verbatim %}{%=file.uid%}{% endverbatim %}" class="remove"/>
                    {% if editable %}
                    {% for field,row in editables %}
                        {{ row|replace({'__value__': '', '[__name__]': '[editable][{%=file.uid%}]', '__name__': 'editable_{%=file.uid%}'})|raw }}
                    {% endfor %}
                    {% endif %}
                </td>
            {% verbatim %}
            {% } else { %}
            {% endverbatim %}
                <td class="preview">
                {% verbatim %}
                {% if (file.thumbnail_url) { %}
                {% endverbatim %}
                {% if previewFilter %}
                    {% verbatim %}
                    <a href="{%=file.url%}" target="_blank"><img src="{%=file.thumbnail_url%}" /></a>
                    {% endverbatim %}
                {% else %}
                    {% verbatim %}
                    <a href="{%=file.url%}" target="_blank">
                    {% endverbatim %}
                        <img src="{% verbatim %}{%=file.thumbnail_url%}{% endverbatim %}"
                             width="{{ previewMaxWidth }}" height="{{ previewMaxHeight }}" />
                    </a>
                {% endif %}
                {% verbatim %}
                {% } %}
                {% endverbatim %}
                </td>
                <td class="form">
                {{ form_row(prototype[primary_key],{'value': '{%=file.'~primary_key~'%}'})|replace({'__name__': '{%=file.count%}'})|raw }}
                {% if nameable %}
                    {{ form_row(prototype[nameable_field],{'value': '{%=file.'~nameable_field~'%}'})|replace({'__name__': '{%=file.count%}'})|raw }}
                {% endif %}
                {% if sortable %}
                    {{ form_row(prototype[sortable_field],{'value': '{%=file.'~sortable_field~'%}'})|replace({'__name__': '{%=file.count%}'})|raw }}
                {% endif %}
                {% if editable %}
                {% for field,row in editables %}
                    {{ row|replace({'__value__': '{%=file.'~field~'%}', '__name__': '{%=file.count%}'})|raw }}
                {% endfor %}
                {% endif %}
                </td>
            {% verbatim %}
            {% } %}
            {% endverbatim %}
            <td class="size"><span>{% verbatim %}{%=o.formatFileSize(file.size)%}{% endverbatim %}</span></td>
            <td colspan="2"></td>
        {% verbatim %}
        {% } %}
        {% endverbatim %}
        <td class="actions">
            <div class="btn-toolbar">
                {% verbatim %}
                {% if (file.uid) { %}
                {% endverbatim %}
                    <button class="btn btn-warning remove">
                        <i class="fa fa-trash-can fa-regular"></i>
                        <span> {{ 's2a_upload_collection.cancel'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
                    </button>
                {% verbatim %}
                {% } else { %}
                {% endverbatim %}
                    {% if displayDownloadButton %}
                    <a class="btn btn-info" target="_blank" {% verbatim %}href="{%=file.url%}"{% endverbatim %}>
                        <i class="fa fa-download"></i>
                        <span> {{ 's2a_upload_collection.download'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
                    </a>
                    {% endif %}
                    {% if allow_delete %}
                    <button class="btn btn-danger delete">
                        <i class="fa fa-trash-can fa-regular"></i>
                        <span> {{ 's2a_upload_collection.delete'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
                    </button>
                    <span class="btn btn-toggle btn-link input-append">
                        <input class="toggle" type="checkbox" name="delete" value="1">
                    </span>
                    {% endif %}
                {% verbatim %}
                {% } %}
                {% endverbatim %}
            </div>
        </td>
    </tr>
{% verbatim %}
{% } %}
{% endverbatim %}
</script>
