{% block form_row %}
{% spaceless %}
    <div class="control-group control-group-{{ name }}{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ block('form_help') }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_help %}
{% spaceless %}
    {% if help %}
        <span class="help-block">
            <p class="muted">{{ help|trans({}, translation_domain) }}</p>
        </span>
    {% endif %}
{% endspaceless %}
{% endblock form_help %}

{% block s2a_collection_fieldset_widget %}
{% spaceless %}
{% if prototype is defined %}
    {% set item = prototype %}
    {% set attr = attr|merge({'data-prototype': block('s2a_collection_fieldset_item') }) %}
{% endif %}
{% set attr = attr|merge({'class': 'control-group' }) %}
<div {{ block('widget_container_attributes') }}>
    <div id="{{ id ~ '_toolbar' }}" class="btn-toolbar form-actions form-actions-condensed">
        {%- include "@AdmingeneratorFormExtensions/Form/BootstrapCollection/collection_add.html.twig" -%}
        {%- include "@AdmingeneratorFormExtensions/Form/BootstrapCollection/collection_batch_delete.html.twig" -%}
    </div>
    <div class="collection row">
        {% for item in form %}
            {{ block('s2a_collection_fieldset_item') }}
        {% endfor %}
    </div>
    <div class="clearfix"></div>
    {{ form_rest(form) }}
</div>
{% endspaceless %}
{% endblock s2a_collection_fieldset_widget %}

{% block s2a_collection_fieldset_item %}
<div class="collection-item-wrapper {{ fieldset_class }}">
    <fieldset class="collection-item {{ id ~ '_actions' }}">
        <legend><label class="control-label">{{ new_label|trans({}, translation_domain) }}</label></legend>
        {{ form_widget(item) }}
        {{ form_errors(item) }}
        {%- include "@AdmingeneratorFormExtensions/Form/BootstrapCollection/collection_delete.html.twig" -%}
    </fieldset>
</div>
{% endblock s2a_collection_fieldset_item %}

{% block s2a_collection_table_widget %}
{% spaceless %}
{% if prototype is defined %}
    {% set item = prototype %}
    {% set attr = attr|merge({'data-prototype': block('s2a_collection_table_item') }) %}
{% endif %}
{% set attr = attr|merge({'class': 'table table-striped' }) %}
<table {{ block('widget_container_attributes') }}>
    <thead>
      <tr>
        <td id="{{ id ~ '_toolbar' }}" class="btn-toolbar form-actions form-actions-condensed" colspan="4">
            {%- include "@AdmingeneratorFormExtensions/Form/BootstrapCollection/collection_add.html.twig" -%}
            {%- include "@AdmingeneratorFormExtensions/Form/BootstrapCollection/collection_batch_delete.html.twig" -%}
        </td>
      </tr>
    </thead>
    <tbody class="collection">
        {% for item in form %}
            {{ block('s2a_collection_table_item') }}
        {% endfor %}
    </tbody>
</table>
{% endspaceless %}
{% endblock s2a_collection_table_widget %}

{% block s2a_collection_table_item %}
<tr class="collection-item-wrapper collection-item">
{% if item.vars.compound %}
    <td class="collection-item-compound" id="{{ item.vars.id }}">
        <div class="panel-group" id="{{ 'panel_group_' ~ item.vars.id }}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-toggle" data-toggle="collapse" data-parent="{{ '#panel_group_' ~ item.vars.id }}" href="{{ '#panel_collapse_' ~ item.vars.id }}">
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-chevron-right"></i>
                        <label class="control-label">{{ new_label|trans({}, translation_domain) }}</label>
                    </a>
                    {%- include "@AdmingeneratorFormExtensions/Form/BootstrapCollection/collection_delete.html.twig" -%}
                </div>
                <div id="{{ 'panel_collapse_' ~ item.vars.id }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                    {{ form_errors(item) }}
                    {{ form_widget(item) }}
                    </div>
                </div>
            </div>
        </div>
    </td>
{% else %}
    <td class="collection-item-simple">
        {%- include "@AdmingeneratorFormExtensions/Form/BootstrapCollection/collection_delete.html.twig" -%}
        <div class="control-group">
            <label class="control-label">{{ new_label|trans({}, translation_domain) }}</label>
            <div class="controls">
                {{ form_widget(item) }}
            </div>
            <span class="help-inline">
                {{ form_errors(item) }}
            </span>
        </div>
    </td>
{% endif %}
</tr>
{% endblock s2a_collection_table_item %}

{% block s2a_upload_collection_widget %}
{% spaceless %}
    {% set original_full_name = full_name %}
    {% set full_name = full_name ~ '[uploads][]' %}
    <div id="{{ id ~ '_widget_container' }}">
        {% if allow_add or allow_delete %}
        <div class="btn-toolbar form-actions form-actions-condensed fileupload-buttonbar">
            {% if allow_add %}
            <span class="btn btn-success fileinput">
                <i class="fa fa-fw fa-plus"></i>
                <span> {{ 's2a_upload_collection.file.add'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
                <input type="file" {{ block('widget_attributes') }} multiple/>
            </span>
            {% endif %}
            {% if not autoUpload and uploadRouteName is not empty %}
            <button type="button" class="btn btn-primary start">
                <i class="fa fa-fw fa-upload"></i>
                <span> {{ 's2a_upload_collection.start'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
            </button>
            {% endif %}
            {% if allow_add %}
            <button type="reset" class="btn btn-warning cancel">
                <i class="fa fa-fw fa-ban"></i>
                <span> {{ 's2a_upload_collection.cancel'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
            </button>
            {% endif %}
            {% if allow_delete %}
            <button type="button" class="btn btn-danger delete">
                <i class="fa fa-fw fa-trash"></i>
                <span> {{ 's2a_upload_collection.delete'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
            </button>
            <label class="btn btn-toggle btn-link input-append">
                <input type="checkbox" class="toggle">
            </label>
            {% endif %}
            <div class="fileupload-progressbar">
                <i class="fa fa-fw fa-cog fa-2x fa-spin"></i>
            </div>
        </div>
        {% endif %}
        {% include "@AdmingeneratorFormExtensions/Form/UploadCollection/presentation_table.html.twig" %}
        {% include "@AdmingeneratorFormExtensions/Form/UploadCollection/template_download.html.twig" %}
        {% if allow_add %}
            {% include "@AdmingeneratorFormExtensions/Form/UploadCollection/template_upload.html.twig" %}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock s2a_upload_collection_widget %}

{% block s2a_double_list_prototype %}
{% spaceless %}
    <div id="{{ id ~ '_widget_container' }}" class="double-list">
        <div class="col-xs-12 col-sm-5 list-unselected dropdown open">
            {% include "@AdmingeneratorFormExtensions/Form/DoubleList/unselected_list.html.twig" %}
        </div>
        <div class="col-xs-12 col-sm-1 list-controls">
            {% include "@AdmingeneratorFormExtensions/Form/DoubleList/controls.html.twig" %}
        </div>
        <div class="col-xs-12 col-sm-5 list-selected dropdown open">
            {% include "@AdmingeneratorFormExtensions/Form/DoubleList/selected_list.html.twig" %}
        </div>
        {{ block('choice_widget') }}
    </div>
{% endspaceless %}
{% endblock s2a_double_list_prototype %}

{% block s2a_double_list_document_widget %}
    {{ block('s2a_double_list_prototype') }}
{% endblock s2a_double_list_document_widget %}

{% block s2a_double_list_entity_widget %}
    {{ block('s2a_double_list_prototype') }}
{% endblock s2a_double_list_entity_widget %}

{% block s2a_double_list_model_widget %}
    {{ block('s2a_double_list_prototype') }}
{% endblock s2a_double_list_model_widget %}

{% block s2a_single_upload_widget %}
{% spaceless %}
    <div id="{{ id ~ '_widget_container' }}" class="single-upload">
        <div class="btn-toolbar form-actions form-actions-condensed singleupload-buttonbar">
            <span class="btn btn-success fileinput">
                {% include "@AdmingeneratorFormExtensions/Form/SingleUpload/upload.html.twig" %}
                <input type="file" id="{{ id }}" name="{{ form.parent.vars.full_name ~ '['~name~'][file]' }}" />
            </span>
            {% include "@AdmingeneratorFormExtensions/Form/SingleUpload/controls.html.twig" %}
        </div>
        <div id="{{ id ~ '_preview' }}" class="single-upload-preview">
            {% include "@AdmingeneratorFormExtensions/Form/SingleUpload/preview.html.twig" %}
        </div>
    </div>
{% endspaceless %}
{% endblock s2a_single_upload_widget %}

{% block s2a_select2_choice_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block s2a_select2_document_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block s2a_select2_entity_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block s2a_select2_model_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block s2a_datetime_family_prototype %}
{% spaceless %}
<input id="{{ id }}" name="{{ full_name }}" type="hidden" value="{{ value }}" />
<div id="{{ id ~ '_widget' }}" class="s2a-date" {% if width is defined and width is not null %}style="width: {{ width }}px"{% endif %}>
    <input {{ block('s2a_datetime_family_widget_attributes') }} />
    <a class="s2a-clear-btn">
        <i class="fa fa-fw fa-times"></i>
    </a>
    <a class="s2a-date-btn">
        <i class="{{ widgetIcon }}"></i>
    </a>
</div>
{% endspaceless %}
{% endblock s2a_datetime_family_prototype %}

{% block s2a_datetime_family_widget_attributes -%}
    id="{{ id ~ '_display' }}" type="text" class="form-control" value="{{ value }}"
    {%- if read_only is defined and read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['id', 'type', 'class', 'value'] -%}
            {# ignore these attributes #}
        {%- elseif attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock s2a_datetime_family_widget_attributes %}

{% block s2a_datetime_picker_widget %}
{% spaceless %}
    {% set widgetIcon = 'fa fa-calendar' %}
    {{ block('s2a_datetime_family_prototype') }}
{% endspaceless %}
{% endblock s2a_datetime_picker_widget %}

{% block s2a_date_picker_widget %}
{% spaceless %}
    {% set widgetIcon = 'fa fa-calendar' %}
    {{ block('s2a_datetime_family_prototype') }}
{% endspaceless %}
{% endblock s2a_date_picker_widget %}

{% block s2a_time_picker_widget %}
{% spaceless %}
    {% set widgetIcon = 'fa fa-clock-o' %}
    {{ block('s2a_datetime_family_prototype') }}
{% endspaceless %}
{% endblock s2a_time_picker_widget %}

{% block s2a_google_map_widget %}
{% spaceless %}
<div {{ block('widget_container_attributes') }}>
    <div id="{{ id }}_container">
        <div class="input-group">
            <input id="{{ id ~ '_search' }}" type="text" class="s2a-gmap-input form-control" placeholder="{{ 's2a_google_map.placeholder'|trans({}, 'AdmingeneratorFormExtensions') }}">
            <span class="input-group-btn">
                <button id="{{ id ~ '_search_button' }}" class="s2a-gmap-search_button btn btn-default" type="button">
                    <i class="fa fa-search"></i> {{ 's2a_google_map.search'|trans({}, 'AdmingeneratorFormExtensions') }}
                </button>
            </span>
            <span class="input-group-btn">
                <button id="{{ id ~ '_current_position' }}" class="s2a-gmap-current_position btn btn-primary">
                    <i class="fa fa-crosshairs"></i> {{ 's2a_google_map.current'|trans({}, 'AdmingeneratorFormExtensions') }}
                </button>
            </span>
        </div>
        <div id="{{ id ~ '_map_canvas' }}" class="gmap s2a-gmap-map_canvas"></div>
    </div>
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
</div>
{% endspaceless %}
{% endblock s2a_google_map_widget %}

{% block s2a_money_widget %}
{% spaceless %}
<div class="input-group">
  <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}': '' })|raw }}</span>
  {{ block('form_widget_simple')|raw }}
</div>
{% endspaceless %}
{% endblock %}

{% block s2a_daterange_picker_widget %}
{% spaceless %}
   <div class="input-group">
   <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
    {{ block('form_widget_simple') }}
</div> 
{% endspaceless %}
{% endblock s2a_daterange_picker_widget %}
